<h1>Meet the Pokemon!</h1>

<p ng-repeat='pokemon in pokemons' ng-click='go()'>
{{pokemon.name}}
</p>

<ul class="pagination">
  <li><a ng-click='pagination(1)'>1</a></li>
  <li><a ng-click='pagination(2)'>2</a></li>
  <li><a ng-click='pagination(3)'>3</a></li>
  <li><a ng-click='pagination(4)'>4</a></li>
  <li><a ng-click='pagination(5)'>5</a></li>
  <li><a ng-click='pagination(6)'>6</a></li>
  <li><a ng-click='pagination(7)'>7</a></li>
  <li><a ng-click='pagination(8)'>8</a></li>
  <li><a ng-click='pagination(9)'>9</a></li>
  <li><a ng-click='pagination(10)'>10</a></li>
</ul>